* {
  //border: dashed thin;
}

body {
  max-width: 80%;  
  margin: 0 auto;
  font-family: 'Open Sans';
}

#maincontent {  
  float: right;
  padding: 2%;
  border: blue solid 1px;
  border-radius: 5px;
}

#navigation {  
  width: 100%;
  float: left;  
  padding-bottom: 0.5em;
}

#header {  
  width: 100%;
}

#footer {  
  width: 100%;
  clear: both;
  padding-top: 2%;
}

#primary {  
  width: 68%;  
  float: left;  
}

#secondary {  
  width: 30%;  
  float: right;
}

ul#menu li {
  display:inline; 
  line-height: 2em;
  padding-right: .5em;
  padding-left: .5em;
}

ul#menu  {
  margin: 0;
  padding: 0;
}

ul#menu a {
  text-decoration: none;
  border-radius: 15px;
}

#menu li.current a  {
  background: blue;
  padding: .5em 2em .5em 2em;
  color:white;
}

.banner {
  background: url("./images/banner.jpg") top center;
  background-position: top center;
  height: 350px;
}

#summary
{
  width: 40%;
  float: left;
  color: white;
  background : rgba(58,84,90, 0.5);
  margin : 1em;
  padding : 1em;
  clear:both;