<%- partial("../includes/_nav.ejs", { id: "PlayStation1" }) %>

<main>
  <div id="summary">

    <section class="container">
      <div>
        <a href="#PS1"><img src="../assets/images/ps1/ps1.jpg" alt="Original PS1 Image" ></a>
      </div>
      <div>
        <a href="#PS1Revised"><img src="../assets/images/ps1/psone.png" alt="Redesign PS1 Image"><a>
      </div>
    </section>

    <hr>
    
    <h2>Summary</h2>
    <article class="col1">
      <p>
        The PlayStation (Japanese: プレイステーション Hepburn: Pureisutēshon?) (officially abbreviated to PS, and commonly known as the PS1 or PSX) is a home video game console developed and marketed by Sony Computer Entertainment. The console was released on 3 December 1994 in Japan,[2] 9 September 1995 in North America, 29 September 1995 in Europe, and for 15 November 1995 in Australia. The console was the first of the PlayStation lineup of home video game consoles. It primarily competed with the Nintendo 64 and the Sega Saturn as part of the fifth generation of video game consoles.
      </p>
    </article>

    <aside class="col2">
      <p>
        The PlayStation is the first "computer entertainment platform" to ship 100 million units, which it had reached 9 years and 6 months after its initial launch.[8] In 2000, a redesigned, slim version called the PSone was released, replacing the original grey console and named appropriately to avoid confusion with its successor, the PlayStation 2.
      </p>  
    </aside>
  </div>

  <hr> 

  <div id="maincontent">
    
    <h2 id="PS1">Orginal PS1 Hardware</h2>
    <article class="col1">
    
      <p>
        With the early units, particularly the early 1000 models, many gamers experience skipping full-motion video or physical "ticking" noises coming from their PlayStation units. The problem appears to have come from poorly placed vents leading to overheating in some environments—the plastic moldings inside the console can warp very slightly and create knock-on effects with the laser assembly. The solution is to ensure that the console sits on a surface which dissipates heat efficiently in a well vented area, or raise the unit up slightly from its resting surface.
      </p>

      <p>
        The first batch of PlayStations used a KSM-440AAM laser unit whose case and all movable parts were completely made out of plastic. Over time, friction causes the plastic lens sled rail to wear out—usually unevenly. The placement of the laser unit close to the power supply accelerated wear because of the additional heat, which makes the plastic even more vulnerable to friction. Eventually, one side of the lens sled can become so worn that the laser can tilt, no longer pointing directly at the CD. This would cause data read errors and games would no longer load. One common fix is to turn the PlayStation upside down, making the lens sled rest on the unworn top rails. Sony eventually fixed the problem by making the sled out of die-cast metal and placing the laser unit slightly farther away from the power supply on later models of the PlayStation.
      </p>

      <p>
        Due to an engineering oversight, the PlayStation does not produce a proper signal on several older models of televisions, causing the display to flicker or bounce around the screen. Since only a small percentage of PlayStation owners used such televisions, Sony decided not to change the console design, and instead gave consumers the option of sending their PlayStation unit to a Sony service center to have an official modchip installed, which would allow it to play on older televisions.
      </p>  
    </article>

    <aside class="col2">
      <img src="../assets/images/ps1/ps1gameloadscreen.jpg" alt="PS1 Game Load Screen" class="displayed">
      <hr>

      <img src="../assets/images/ps1/PS1main.jpg" alt="Orignal PS1 Hardware" class="displayed">
    </aside>

    <hr class="clearing">
   
    <h2 id="PS1Revised">PS1 Revised</h2>
    <article class="col1">

      <p>
        The PS one (alternatively spelled as PS One, PSOne or PSone) is a smaller, redesigned version of the original PlayStation platform.[6] (Dimensions are 38 mm × 193 mm × 144 mm versus 45 mm × 260 mm × 185 mm.) It was released on July 7, 2000,[7] and went on to outsell all other consoles throughout the remainder of the year—including Sony's own PlayStation 2 (yet the PlayStation 2 overtook this eventually).[6] The PS one is fully compatible with all PlayStation software. This also serves as the final model/revision for the entire PlayStation lineage.
      </p>
      
      <p>
        There were six differences between the PS one and the original PlayStation.
        <ol>
          <li>The form factor is a lot smaller.</li>
          <li>Instead of having a separate reset button, the user "resets" this console simply by turning it off and then on again (the power button also has the word "RESET" on it to reduce confusion by users reading a game manual referencing a reset button that is effectively nonexistent).</li>
          <li>The system menu Graphical User Interface was changed to a gray blocked background with 2 icons (Memory Card placed on a red bar and CD Player placed on a yellow bar). This is a slightly modified version of the menu used on early PAL PlayStations (SCPH-1002–SCPH-5552).</li>
          <li>There was an added protection against the use of modchips (by changing the internal layout and making previous-generation modchip devices unusable).</li>
          <li>The original PlayStation's parallel and serial ports were omitted. These ports allowed multiple consoles to be connected for multiplayer, or to connect a console to debugging software, as well as to third-party game enhancement devices such as the GameShark.</li>
          <li>When the console is started up, instead of a trademark symbol (™) beside the words "Computer Entertainment" there is a registered trademark symbol (®).</li>
        </ul>
      </p>
    </article>

    <aside class="col2">
      <img src="../assets/images/ps1/psone.jpg" alt="Redesign PS1 Image" class="displayed">
    </aside>
  </div>
</main>
