<%- partial("../includes/_nav.ejs", { id: "PlayStation1" }) %>

<main id="maincontent">

  <section class="container">
    <div>
      <img src="../assets/images/ps1/ps1.jpg" alt="Original PS1 Image">
    </div>
    <div>
      <img src="../assets/images/ps1/ps1.png" alt="Redesign PS1 Image">
    </div>
  </section>

  <hr>
    
  <article id="primary">
    <p>
      The PlayStation (Japanese: プレイステーション Hepburn: Pureisutēshon?) (officially abbreviated to PS, and commonly known as the PS1 or PSX) is a home video game console developed and marketed by Sony Computer Entertainment. The console was released on 3 December 1994 in Japan,[2] 9 September 1995 in North America, 29 September 1995 in Europe, and for 15 November 1995 in Australia. The console was the first of the PlayStation lineup of home video game consoles. It primarily competed with the Nintendo 64 and the Sega Saturn as part of the fifth generation of video game consoles.
    </p>
  </article>

  <aside id="secondary">
    <p>
      The PlayStation is the first "computer entertainment platform" to ship 100 million units, which it had reached 9 years and 6 months after its initial launch.[8] In 2000, a redesigned, slim version called the PSone was released, replacing the original grey console and named appropriately to avoid confusion with its successor, the PlayStation 2.
    </p>  
  </aside>
</main>