<%- partial("../includes/_nav.ejs", { id: "PlayStation2" }) %>

<main id="maincontent">

  <section class="container">
    <div>
      <img src="../assets/images/ps2/ps2mod.jpg" alt="Original PS2 Image">
    </div>
    <div>
      <img src="../assets/images/ps2/ps2slim.jpg" alt="Slim PS2 Image">
    </div>
  </section>

  <hr>

  <article id="primary">
    <p>
      The PlayStation 2 (abbreviated as PS2) is a home video game console that was developed by Sony Computer Entertainment. It is the successor to the PlayStation, and is the second installment in the PlayStation lineup of consoles. It was released on March 4, 2000 in Japan, October 26, 2000 in North America, November 24, 2000 in Europe, and November 17, 2000 in Australia. It competed with Sega's Dreamcast, Microsoft's Xbox, and Nintendo's GameCube in the sixth generation of video game consoles.
    </p>    
  </article>

  <aside id="secondary">
    <p>
      Announced in 1999, the PlayStation 2 was the first PlayStation console to offer backwards compatibility for its predecessor's DualShock controller, as well as for its games. The PlayStation 2 is the best-selling video game console of all time, selling over 155 million units, with 150 million confirmed by Sony in 2011.[8] More than 3,874 game titles have been released for the PS2 since launch, and more than 1.5 billion copies have been sold.[9] Sony later manufactured several smaller, lighter revisions of the console known as Slimline models in 2004 and well on, and in 2006, announced and launched its successor, the PlayStation 3.
    </p>  
  </aside>
</main>