<%- partial("../includes/_nav.ejs", { id: "PlayStation2" }) %>

<main>
  <div id="summary" class="content">
    <section class="container">
      <div>
        <a href="#PS2"><img src="../assets/images/ps2/ps2.jpg" alt="Original PS2 Image"></a>
      </div>

      <div>
        <a href="#PS2Slim"><img src="../assets/images/ps2/ps2slim.jpg" alt="Slim PS2 Image"></a>
      </div>
    </section>

    <hr>

    <h2>Summary</h2>
    <article class="col1">
      <p>
        The PlayStation 2 (abbreviated as PS2) is a home video game console that was developed by Sony Computer Entertainment. It is the successor to the PlayStation, and is the second installment in the PlayStation lineup of consoles. It was released on March 4, 2000 in Japan, October 26, 2000 in North America, November 24, 2000 in Europe, and November 17, 2000 in Australia. It competed with Sega's Dreamcast, Microsoft's Xbox, and Nintendo's GameCube in the sixth generation of video game consoles.
      </p>    

      <p>
        Announced in 1999, the PlayStation 2 was the first PlayStation console to offer backwards compatibility for its predecessor's DualShock controller, as well as for its games. The PlayStation 2 is the best-selling video game console of all time, selling over 155 million units, with 150 million confirmed by Sony in 2011.[8]
      </p>
    </article>

    <article class="col2">
      <p>
        More than 3,874 game titles have been released for the PS2 since launch, and more than 1.5 billion copies have been sold.[9] Sony later manufactured several smaller, lighter revisions of the console known as Slimline models in 2004 and well on, and in 2006, announced and launched its successor, the PlayStation 3.
      </p>  
    </article>
  </div>

  <hr>

  <div id="maincontent" class="content">

    <h2 id="PS2">Orginal PS2 Hardware</h2>
    <article class="col1">
      <p>
        Three of the original PS2 launch models (SCPH-10000, SCPH-15000, and SCPH-18000) were only sold in Japan, and lacked the expansion bay of later PS2 models. These models instead included a PCMCIA slot. SCPH-10000 and SCPH-15000 did not have built-in DVD movie playback and instead relied on encrypted playback software that was copied to a memory card from an included CD-ROM (normally, the PS2 will only execute encrypted software from its memory card; see PS2 Independence Exploit). V3 had a substantially different internal structure from the subsequent revisions, featuring several interconnected printed circuit boards. In V4 everything except the power supply was unified onto one board. V5 introduced minor internal changes, and the only difference between V6 (sometimes called V5.1) and V5 is the orientation of the Power/Reset switch board connector, which was reversed to prevent the use of no-solder modchips. V5 also introduced a more reliable laser than the ones used in previous models. V7 and V8 included only minor revisions to V6.
      </p>    

      <p>
        The PS2 standard color is matte black. Several different variations in color were produced in different quantities and regions, including ceramic white, light yellow, metallic blue (aqua), metallic silver, navy (star blue), opaque blue (astral blue), opaque black (midnight black), pearl white, Sakura purple, satin gold, satin silver, snow white, super red, transparent blue (ocean blue), and also Limited Edition color Pink, which was distributed in regions including Oceania and parts of Asia.[3][4][5]
      </p>  
    </article>

    <aside class="col2">
      <img src="../assets/images/ps2/ps2logo.png" alt="PS2 Logo" class="displayed">

      <hr>

      <img src="../assets/images/ps2/ps2box.jpg" alt="PS2 Box" class="displayed">
    </aside>

    <hr class="clearing">

    <h2 id="PS2Slim">PS2 Slim</h2>
    <article class="col1">
      <p>
        In September 2004, Sony unveiled its third major hardware revision (V12, model number SCPH-700xx). Available in late October 2004, it is smaller, thinner, and quieter than the older versions and includes a built-in Ethernet port (in some markets it also has an integrated modem). Due to its thinner profile, it does not contain the 3.5" expansion bay and therefore does not support the internal hard disk drive. It also lacks an internal power supply, similar to the GameCube, and has a modified Multitap expansion. The removal of the expansion bay has been criticized as a limitation due to the existence of titles such as Final Fantasy XI, which require the use of the HDD
      </p>  

      <p>
        The official PS2 Linux also requires an expansion bay to function. Currently[when?] only the modified Multitap is sold in stores; however, these are also compatible with the older versions, and also added support for multiple memory cards on some games. Third-party connectors can be soldered into the unit giving hard drive support; however, IDE connections were completely removed in the V14 revision, thereby eliminating this option. Certain mod chips enable the use of a USB hard drive or other mass storage device.
      </p>    
    </article>

    <aside class="col2">
      <img src="../assets/images/ps2/ps2slimbox.JPG" alt="PS2 Slim Box" class="displayed">
    </aside>
  </div>
</main>