<%- partial("../includes/_nav.ejs", { id: "PlayStation3" }) %>

<main>

  <div id="summary" class="content">

    <section class="container">
      <div>
        <a href="#PS3"><img src="../assets/images/ps3/ps3.jpg" alt="Original PS3 Image"></a>
      </div>

      <div>
        <a href="#PS3 Slim"><img src="../assets/images/ps3/ps3slim.jpg" alt="Slim PS3 Image"></a>
      </div>

      <div>
        <a href="#PS3 Super Slim"><img src="../assets/images/ps3/ps3superslim.png" alt="Super Slim PS3 Image"></a>
      </div>
    </section>

    <hr>

    <h2>Summary</h2>
    <article class="col1">
      <p>
        The PlayStation 3 (abbreviated as PS3) is a home video game console developed by Sony Computer Entertainment. It is the successor to PlayStation 2, and is part of the PlayStation brand of consoles. It competed with Microsoft's Xbox 360 and Nintendo's Wii as part of the seventh generation of video game consoles. It was first released on November 11, 2006, in Japan,[8] November 17, 2006 in North America, and March 27, 2007 in Europe and Australia.[9][10][11]

        <div class="videoWrapper">
          <iframe width="854" height="480" src="https://www.youtube.com/embed/-XF2pu-4rXc" frameborder="0" allowfullscreen></iframe>
        </div>
      </p>    
    </article>

    <article class="col2">
      <p>
        The console was first officially announced at E3 2005, and was released at the end of 2006. It was the first console to use Blu-ray Disc as its primary storage medium.[12] The console was the first PlayStation to integrate social gaming services, included it being the first to introduce Sony's social gaming service, PlayStation Network,[13] and its[14] remote connectivity with PlayStation Portable and PlayStation Vita,[15] being able to remote control the console from the devices. In September 2009, the Slim model of the PlayStation 3 was released. It no longer provided the hardware ability to run PS2 games. It was lighter and thinner than the original version, and featured a redesigned logo and marketing design, as well as a minor start-up change in software. A Super Slim variation was then released in late 2012, further refining and redesigning the console.
      </p>  
    </article>

  </div>

  <hr>

  <div id="maincontent" class="content">

    <h2 id="PS3">Original PS3 Hardware</h2>
    <article class="col1">
      <p>
        There are several original PlayStation 3 hardware models, which are commonly referred to by the size of their included hard disk drive: 20, 40, 60, 80, or 160 GB.[3][4] Although referred to by their HDD size, the capabilities of the consoles vary by region and release date. The only difference in the appearance of the first five models was the color of the trim, number of USB ports, the presence or absence of a door (which covers the flash card readers on equipped models) and some minor changes to the air vents. All retail packages include one or two Sixaxis controllers or a DualShock 3 controller (beginning June 12, 2008[5][6]), one Type-A to Mini-B USB cable (for connecting the controller and PlayStation Portable to the system), one composite video/stereo audio output cable, one Ethernet cable (20, 60 and CECHExx 80 GB only) and one power cable.[4][7][8] All models support software emulation of the original PlayStation,[9][10] but support for PlayStation 2 backward compatibility diminished with later compatible models and the last model to have integrated backward compatibility was the NTSC 80 GB (CECHE) Metal Gear Solid 4 Bundle.[11] Compatibility issues with games for both systems are detailed in a public database hosted by the manufacturer.[12] All models, excluding the 20 GB model, include 802.11 b/g Wi-Fi.
      </p>    

      <p>
        In addition to all of the features of the 20 GB model, the 60 GB model has internal IEEE 802.11 b/g Wi-Fi, multiple flash card readers (SD/MultiMedia Card, CompactFlash Type I/Type II, Microdrive,[13] Memory Stick/PRO/Duo) and a chrome colored trim.[14] In terms of hardware, the 80 GB model CECHE released in South Korea is identical to the 60 GB model CECHC released in the PAL regions, except for the difference in hard drive size.[15] The European 60GB model (CECHC), the South Korean and North American CECHE 80GB model excludes the PlayStation 2 "Emotion Engine" CPU chip with it being replaced by an emulated version via the Cell Broadband Engine.[11] However, it retains the "Graphics Synthesizer" GPU resulting in a hybrid hardware and software emulation.
      </p>  
    </article>

    <aside class="col2">
      <img src="../assets/images/ps3/ps3logo.png" alt="PS3 Logo Image" class="displayed">

      <hr>
      
      <img src="../assets/images/ps3/ps3box.jpg" alt="PS3 Box Image" class="displayed">
    </aside>

    <hr class="clearing">

    <h2 id="PS3 Slim">PS3 Slim</h2>
    <article class="col1">
      <p>
        The redesigned, slimmer version of the PlayStation 3 (commonly referred to as the "PS3 Slim" and officially branded "PS3") features an upgradeable 120 GB, 160 GB,[25][26] 250 GB or 320 GB[25][26] hard drive and is 33% smaller, 36% lighter and consumes 34% (CECH-20xx) or 45% (CECH-21xx) less power than the previous model,[27][28][29] or one third of the original PS3 model. The Cell microprocessor has moved to a 45 nm manufacturing process, which lets it run cooler and quieter than previous models, and the cooling system has been redesigned.[30] The RSX moved to a 40 nm process[31] in the latest revision. The PS3 slim also includes support for CEC (more commonly referred to by its manufacturer brandings of BraviaSync, VIERA Link, EasyLink etc.) which allows control of the console over HDMI by using the TV's remote control. The PS3 Slim no longer has the "main power" switch like the previous PS3 models, similar to redesigned slimline PlayStation 2. Support for emulation to play PS2 titles is not present in the Slim version, however shortly after the release of the PS3 slim, Sony announced a new series of PS2 remasters called Classics HD as in PS2 and PSP titles remastered in HD for the PS3 with trophies added and sometimes PlayStation Move compatibility.[27][28] As of October 2011, PS2 classics are available for purchase in the PlayStation Store.
      </p>    
      
      <p>
        The PS3 slim was officially released on September 1, 2009, in North America and Europe and on September 3, 2009, in Japan, Australia and New Zealand.[27][28][33][34] However, some retailers such as Amazon.com, Best Buy and GameStop started to sell the PS3 slim on August 25, 2009.[35][36] The PS3 Slim sold in excess of a million units in its first 3 weeks on sale.[37] A 250 GB Final Fantasy XIII-themed PS3 Slim, which was white in color with pink designs, was officially announced on September 24, 2009 at the Tokyo Game Show as part of a bundle in Japan for Final Fantasy XIII, it was initially revealed in U.S. Federal Communications Commission (FCC) filings as the PS3 CECH-2000B.[38][39] Sony Computer Entertainment Australia also announced later that day that it would be bringing the 250 GB PS3 slim to Australia which would be bundled with other games and will not feature the Final Fantasy XIII theme. Although no North American bundles have been announced for the 250 GB PS3 slim, it is sold as a stand-alone console in North America.
      </p>  
    </article>

    <aside class="col2">
      <img src="../assets/images/ps3/ps3slimbox.jpg" alt="PS3 Slim Box Image" class="displayed">
    </aside>

    <hr class="clearing">

    <h2 id="PS3 Super Slim">PS3 Super Slim</h2>
    <article class="col1">
      <p>
        In September 2012, Sony announced that a new slimmer PS3 redesign (CECH-4000) was due to be released in late 2012 and that it would be available with either a 250 GB or 500 GB hard drive.

        In PAL regions, the 250 GB model is not available; a model with 12 GB of flash memory (CECH-4000A) is available in its place.[44] A standalone 250 GB hard drive (CECH-ZHD1) is available to upgrade this model.[44][45] In the UK, the 500 GB model was released on September 28, 2012,[44] while the 12 GB model was made available on October 12, 2012
      </p>    
      
      <p>
        CECH-4000B consoles (those with hard drives) weigh approximately 2.1 kg (4.6 lb),[43][44] while the CECH-4000A weighs approximately 2.0 kg (4.4 lb).[45] Both are roughly 25% smaller and about 20% lighter than the original PS3 Slim. This version has a sliding disc cover rather than the slot-loading drive found on previous PlayStation 3 consoles.

        A CECH-4200 model with nearly identical hardware to that of the CECH-4000 model was introduced in 2013 to follow the AACS rule of inhibiting analog (component and composite) output of Blu-ray disc content effective since 2014. While in previous 3000 and 4000 models the output limit was already set at 480i to meet a Jan 1st 2011 deadline in agreement also with the aforementioned AACS.
      </p>  
    </article>

    <aside class="col2">
      <img src="../assets/images/ps3/ps3superslimbox.jpg" alt="PS3 Super Slim Box Image" class="displayed">
    </aside>

  </div>
</main>