<%- partial("../includes/_nav.ejs", { id: "PlayStationPortable" }) %>

<main>
  <div id="summary" class="content">
    <section class="container">
      <div>
        <a href="#PSP 1000"><img src="../assets/images/psp/psp1000.jpg" alt="PSP 1000 Image"></a>
      </div>
      <div>
        <a href="#PSP 2000"><img src="../assets/images/psp/psp2000.jpg" alt="PSP 2000 Image"></a>
      </div>
      <div>
        <a href="#PSP 3000"><img src="../assets/images/psp/psp3000.jpg" alt="PSP 3000 Image"></a>
      </div>
      <div>
        <a href="#PSP E1000"><img src="../assets/images/psp/pspe1000.jpg" alt="PSP E1000 Image"></a>
      </div>
      <div>
        <a href="#PSP Go"><img src="../assets/images/psp/pspgo.jpg" alt="PSP Go Image"></a>
      </div>
    </section>

    <hr>

    <h2>Summary</h2>
    <article class="col1">
      <p>
      
        The PlayStation Portable (PSP) is a handheld game console developed by Sony.[6] Development of the console was announced during E3 2003,[7] and it was unveiled on May 11, 2004, at a Sony press conference before E3 2004.[8] The system was released in Japan on December 12, 2004,[9] in North America on March 24, 2005,[10] and in the PAL region on September 1, 2005.[11] It primarily competed with the Nintendo DS, as part of the seventh generation of video games.
      </p>    

      <p>
        The PlayStation Portable became the most powerful portable system when launched, just after the Nintendo DS in 2004. It was the first real competitor to Nintendo's handheld domination, where many challengers, such as SNK's Neo Geo Pocket and Nokia's N-Gage, failed.[12] 
      </p>
    </article>

    <article class="col2">
      <p>
        Its GPU encompassed high-end graphics on a handheld, while its 4.3 inch viewing screen[13] and multi-media capabilities,[14] such as its video player and TV tuner, made the PlayStation Portable a major mobile entertainment device at the time.[15] It also features connectivity with the PlayStation 3, other PSPs and the Internet.[16][17] It is the only handheld console to use an optical disc format, Universal Media Disc (UMD), as its primary storage medium.[18][19]
      </p>  
    </article>
  </div>

  <hr>

  <div id="maincontent" class="content">

    <h2 id="PSP 1000">Original PSP</h2>
    <article class="col1">
      <p>
      
        The PlayStation Portable (PSP) is a handheld game console developed by Sony.[6] Development of the console was announced during E3 2003,[7] and it was unveiled on May 11, 2004, at a Sony press conference before E3 2004.[8] The system was released in Japan on December 12, 2004,[9] in North America on March 24, 2005,[10] and in the PAL region on September 1, 2005.[11] It primarily competed with the Nintendo DS, as part of the seventh generation of video games.
      </p>    

      <p>
        The PlayStation Portable became the most powerful portable system when launched, just after the Nintendo DS in 2004. It was the first real competitor to Nintendo's handheld domination, where many challengers, such as SNK's Neo Geo Pocket and Nokia's N-Gage, failed.[12] Its GPU encompassed high-end graphics on a handheld, while its 4.3 inch viewing screen[13] and multi-media capabilities,[14] such as its video player and TV tuner, made the PlayStation Portable a major mobile entertainment device at the time.[15] It also features connectivity with the PlayStation 3, other PSPs and the Internet.[16][17] It is the only handheld console to use an optical disc format, Universal Media Disc (UMD), as its primary storage medium.[18][19]
      </p> 
    </article>

    <aside class="col2">
       <img src="../assets/images/psp/psplogo.png" alt="PSP Logo" class="displayed">

       <hr>
       
       <img src="../assets/images/psp/psp1000box.jpg" alt="PSP 1000 Bundle" class="displayed">
    </aside>

    <hr class="clearing">

    <h2 id="PSP 2000">PSP 2000</h2>
    <article class="col1">
      <p>
        The PSP-2000 (marketed in PAL areas as "PSP Slim & Lite" and still marketed as PSP in North America, Japan, China, India, Italy, and Portugal)[81] is the first redesign of the PlayStation Portable. At E3 2007, Sony released information about a slimmer and lighter version of the PlayStation Portable.[82] The new PSP was announced to be 33% lighter and 19% slimmer than the original PSP system.[82] The model numbers were changed to PSP-2000, following the previous region-based numbering scheme (cf. the PSP-1000 numbering scheme of the "old" PSP model).
      </p>    

      <p>
        The PSP 2000 system is 19% thinner and 33% lighter than the original PSP system (reduced from 23 mm to 18.6 mm and from 280 grams [9.87 ounces] to 189 grams [6.66 ounces]).[82][84] Internal changes to achieve this include the removal of a metal chassis (used to reduce damage in the event of sudden trauma to the system resulting from the user dropping the system on a hard surface). Other changes include improved WLAN modules and Micro-controller, and a thinner[85] and much brighter LCD. To cater for the original PSP generation's poor load times of UMD games,[86] the internal memory (RAM and Flash ROM) was doubled from 32 MB to 64 MB with a part of it now acting as a cache, which also improved the web browser's performance.[87]
      </p> 
    </article>

    <aside class="col2">
      <img src="../assets/images/psp/psp2000box.jpg" alt="PSP 2000 Box" class="displayed">
    </aside>

    <hr class="clearing">

    <h2 id="PSP 3000">PSP 3000</h2>
    <article class="col1">
      <p>
        In comparison to the PSP-2000, the PSP-3000 (marketed in PAL areas as PSP Slim & Lite, or "PSP Brite" (with enhanced screen + built in microphone) and still marketed as PSP in North America and Japan) has an improved LCD screen featuring an increased color range, five times the contrast ratio, half the pixel response time to reduce ghosting and blurring effects, new sub-pixel structure, and anti-reflective technology to improve outdoor playability. The disc tray, logos, and buttons have all been redesigned and the system now has a microphone. In addition, all games may now be output by component or composite using the video out cable
      </p>    

      <p>
        In its first four days on sale, the PSP-3000 sold 141,270 units in Japan, according to Famitsu.[89] In October 2008, the PSP-3000 sold 267,000 units in Japan, according to Enterbrain.[90]
      </p> 
    </article>

    <aside class="col2">
      <img src="../assets/images/psp/psp3000box.jpg" alt="PSP 3000 Box" class="displayed">
    </aside>

    <hr class="clearing">

    <h2 id="PSP E1000">PSP E1000</h2>
    <article class="col1">
      <p>
        Announced at Gamescom 2011, the PSP-E1000 is a budget-focused model of the PSP which became available across the PAL region on October 26, 2011 for an RRP of €99.99.[120] Unlike previous PSP models, the E1000 does not feature Wi-Fi capabilities and has a matte "charcoal black" finish similar to the slim PlayStation 3.[120] Also, it only features a mono speaker instead of the previous models' stereo speakers and does not feature a microphone.[121] An 'Ice White' version was later released across PAL territories on July 20, 2012.
      </p>    

      <p>
        To make the PSP slimmer, the capacity of the battery was reduced by 1/3. However, due to more efficient power usage, the run time of the PSP is still the same as the previous model. Older model batteries will work which extends the amount of playing time. However, the battery cover on the newer model does not fit over the older battery due to its bulkier size. The batteries take about one and a half hour to charge and last roughly 4.5–7 hours depending on factors such as screen brightness settings, WLAN and volume levels.[122]
      </p> 
    </article>

    <aside class="col2">
      <img src="../assets/images/psp/pspe1000box.png" alt="PSP E1000 Box" class="displayed">
    </aside>

    <hr class="clearing">

    <h2 id="PSP Go">PSP Go</h2>
    <article class="col1">
      <p>
        The PSP Go (stylized PSPgo or PSP go, model PSP-N1000)[91][92][93][94][95][96] was released on October 1, 2009 in North American and European territories,[97] and on November 1 in Japan. It was revealed prior to E3 2009 through Sony's Qore VOD service.[95] Although its design is significantly different from other PSPs, it was not intended to replace the PSP 3000, which Sony continued to manufacture, sell, and support.[93] On April 20, 2011, the manufacturer announced that the PSP Go would be discontinued so that they may concentrate on the PlayStation Vita.[98][99][100] Sony later said that only the European and Japanese versions were being cut, and that the console would still be available in the North American market until the time of its discontinuation of PSP and its production.[101]
      </p>    

      <p>
        Unlike previous PSP models, the PSP Go does not feature a UMD drive, but instead has 16 GB of internal flash memory to store games, video, pictures, and other media.[96] This can be extended by up to 32 GB with the use of a Memory Stick Micro (M2). Also unlike previous PSP models, the PSP Go's rechargeable battery is not removable or replaceable by the user without removing several screws and breaking tape that voids the warranty.[102] The unit is 43% lighter and 56% smaller than the original PSP-1000,[93] and 16% lighter and 35% smaller than the PSP-3000.[103] It has a 3.8" 480 × 272 LCD screen[104] (compared to the larger 4.3" 480 × 272 pixel LCD on previous PSP models).[105] The screen slides up to reveal the main controls. The overall shape and sliding mechanism are similar to that of Sony's mylo COM-2 internet device.[106]
      </p> 
    </article>

    <aside class="col2">
      <img src="../assets/images/psp/pspgobox.jpg" alt="PSP Go Box" class="displayed">
    </aside>
  </div>
</main>