<nav id="navigation">  
  <ul id="menu">  
    <li><a href="../index.html">Home</a></li>  
    <li><a href="./ps1.html">PlayStation 1</a></li>  
    <li><a href="./ps2.html">PlayStation 2</a></li>  
    <li><a href="./ps3.html">Playstation 3</a></li>  
    <li><a href="./ps4.html">PlayStation 4</a></li>  
    <li class="current"><a href="./psp.html">PlaySation Portable</a></li>  
    <li><a href="./psvita.html">PlayStation Vita</a></li>  
    <li><a href="./psvr.html">PlayStation VR</a></li>  
  </ul>  
</nav>

<article id="maincontent">

<div class="container">
  <div>
    <img src="../assets/images/psp/psp.jpg" alt="PSP 1000 Image">
  </div>
  <div>
    <img src="../assets/images/psp/psp2000.jpg" alt="PSP 2000 Image">
  </div>
  <div>
    <img src="../assets/images/psp/psp3000.jpg" alt="PSP 3000 Image">
  </div>
  <div>
    <img src="../assets/images/psp/pspe1000.jpg" alt="PSP E1000 Image">
  </div>
  <div>
    <img src="../assets/images/psp/pspgo.jpg" alt="PSP Go Image">
  </div>
</div>

<hr>

  <div id="primary">
    <p>
    
      The PlayStation Portable (PSP) is a handheld game console developed by Sony.[6] Development of the console was announced during E3 2003,[7] and it was unveiled on May 11, 2004, at a Sony press conference before E3 2004.[8] The system was released in Japan on December 12, 2004,[9] in North America on March 24, 2005,[10] and in the PAL region on September 1, 2005.[11] It primarily competed with the Nintendo DS, as part of the seventh generation of video games.
    </p>    
  </div>

  <div id="secondary">
    <p>
      The PlayStation Portable became the most powerful portable system when launched, just after the Nintendo DS in 2004. It was the first real competitor to Nintendo's handheld domination, where many challengers, such as SNK's Neo Geo Pocket and Nokia's N-Gage, failed.[12] Its GPU encompassed high-end graphics on a handheld, while its 4.3 inch viewing screen[13] and multi-media capabilities,[14] such as its video player and TV tuner, made the PlayStation Portable a major mobile entertainment device at the time.[15] It also features connectivity with the PlayStation 3, other PSPs and the Internet.[16][17] It is the only handheld console to use an optical disc format, Universal Media Disc (UMD), as its primary storage medium.[18][19]
    </p>  
  </div>
</article>