<%- partial("../includes/_nav.ejs", { id: "PlayStationVita" }) %>

<main>
  <div id="summary" class="content">
    <section class="container">
      <div>
        <a href="#PSVita"><img src="../assets/images/psvita/psvita.jpg" alt="PSVita Image"></a>
      </div>
      <div>
        <a href="#PSVita Slim"><img src="../assets/images/psvita/psvitaslim.jpg" alt="PSVita Slim Image"></a>
      </div>
      <div>
        <a href="#PS TV"><img src="../assets/images/psvita/pstv.jpg" alt="PSVita TV Image"></a>
      </div>
    </section>

    <hr>

    <h2>Summary</h2>
    <article class="col1">
      <p>
        The PlayStation Vita (officially abbreviated PS Vita or Vita) is a handheld game console developed and released by Sony Interactive Entertainment. It is the successor to the PlayStation Portable as part of the PlayStation brand of gaming devices. It was released in Japan on December 17, 2011, with releases in North America, Europe, and other worldwide regions starting on February 22, 2012. It primarily competes with the Nintendo 3DS as part of the eighth generation of video game consoles.

        <div class="videoWrapper">
          <iframe width="640" height="360" src="https://www.youtube.com/embed/RIaJHh60hQY" frameborder="0" allowfullscreen></iframe>
        </div>
      </p>    
    </article>

    <article class="col2">
      <p>
        The original model of the handheld includes a 5-inch (130 mm) OLED multi-touch capacitive touchscreen, two analog joysticks, front and shoulder push-button input, and supports Bluetooth, Wi-Fi and optional 3G. Internally, the Vita features a quad-core ARM Cortex-A9 MPCore processor and a quad-core SGX543MP graphics processing unit. A revised model, the PS Vita 2000 series, released across 2013 and 2014, sports all of the same features with a slightly smaller size, extended battery life, and an LCD screen replacing the OLED display. Sony also released the PlayStation TV, a short-lived, re-purposed version of the Vita that allowed for the play of PS Vita games on a television screen similar to a home video game console, though the PS TV variant was discontinued by the end of 2015.
      </p>  
    </article>
  </div>

  <hr>

  <div id="maincontent" class="content">

    <h2 id="PSVita">Original PS Vita</h2>
    <article class="col1">
      <p>
        The PlayStation Vita (officially abbreviated PS Vita or Vita) is a handheld game console developed and released by Sony Interactive Entertainment. It is the successor to the PlayStation Portable as part of the PlayStation brand of gaming devices. It was released in Japan on December 17, 2011, with releases in North America, Europe, and other worldwide regions starting on February 22, 2012. It primarily competes with the Nintendo 3DS as part of the eighth generation of video game consoles.
      </p>    

      <p>
        The original model of the handheld includes a 5-inch (130 mm) OLED multi-touch capacitive touchscreen, two analog joysticks, front and shoulder push-button input, and supports Bluetooth, Wi-Fi and optional 3G. Internally, the Vita features a quad-core ARM Cortex-A9 MPCore processor and a quad-core SGX543MP graphics processing unit. A revised model, the PS Vita 2000 series, released across 2013 and 2014, sports all of the same features with a slightly smaller size, extended battery life, and an LCD screen replacing the OLED display. Sony also released the PlayStation TV, a short-lived, re-purposed version of the Vita that allowed for the play of PS Vita games on a television screen similar to a home video game console, though the PS TV variant was discontinued by the end of 2015.
      </p>
    </article>

    <aside class="col2">
        <img src="../assets/images/psvita/psvitalogo.png" alt="PSVita Logo" class="displayed">
        <hr>
        <img src="../assets/images/psvita/psvitabox.jpg" alt="PSVita Box" class="displayed">
    </aside>

    <hr class="clearing">

    <h2 id="PSVita Slim">PS Vita Slim</h2>
    <article class="col1">
      <p>
        A revised model of the Vita was released in Japan on October 10, 2013, in Europe on February 7, 2014[103] and in North America on May 6, 2014.[104] The revised model, officially called the PCH-2000 series[105] and commonly referred to as the PS Vita Slim,[106] is 20% thinner and 15% lighter compared to the original model.[94] While it largely maintains the original's overall structure and layout, the original's OLED screen has been replaced with a cheaper to develop LCD display.[94] The model also roughly added about an extra hour of battery life.[94] The newer model also comes with 1GB of internal storage memory, although it is not possible to use both the internal memory and memory card concurrently.[107] Upon inserting a PS Vita memory card, the system will offer to copy the existing data from the internal memory to the new card.[108] 
      </p>    

      <p>
        This model has a micro USB Type B port, which can be used to charge the device along with any standard micro USB cable. The model was released in six colors in Japan (white, black, light blue, lime green, pink, and khaki),[94] although it was only released in black in North America and Europe.[109]
      </p>
    </article>

    <aside class="col2">
      <img src="../assets/images/psvita/psvitaslimbox.jpg" alt="PSVita Slim Box" class="displayed">
    </aside>

    <hr class="clearing">

    <h2 id="PS TV">PS Vita TV</h2>
    <article class="col1">
      <p>
        PlayStation TV (abbreviated to PS TV), known in Japan and other parts of Asia as the PlayStation Vita TV or PS Vita TV, is a microconsole,[13][14][15] and a non-handheld variant of the PlayStation Vita handheld game console. It was released in Japan on November 14, 2013,[1] North America on October 14, 2014, and Europe and Australasia on November 14, 2014.[4]
      </p>    

      <p>
        Controlled with either the DualShock 3 or DualShock 4 controllers, the PS TV is capable of playing many PlayStation Vita games and applications, either through physical cartridges or downloaded through the PlayStation Store. However, not all content is compatible with the device, since certain features in the PS Vita such as the gyroscope and microphone are not available on the PS TV. Nevertheless, the PS TV is able to emulate touch input for both the Vita's front and rear touchpads using the DS3/DS4 controller.
      </p>
    </article>

    <aside class="col2">
      <img src="../assets/images/psvita/pstvbox.jpg" alt="PSVita TV Box" class="displayed">
    </aside>
  </div>
</main>