<%- partial("../includes/_nav.ejs", { id: "PlayStationVR" }) %>

<main id="maincontent">

  <img class="displayed" src="../assets/images/psvr/psvr.png" alt="PS VR Image">

  <hr>

  <article id="primary">
    <p>

      PlayStation VR, known by the codename Project Morpheus during development, is a virtual reality head-mounted display developed by Sony Interactive Entertainment,[2] which launched on October 13, 2016.[1]

      It was designed to be fully functional with the PlayStation 4 home video game console. In certain games and demos for the VR, the player wearing the headset acts separately from other players without the headset. The PlayStation VR system can output a picture to both the PlayStation VR headset and a television simultaneously, with the television either mirroring the picture displayed on the headset, or displaying a separate image for competitive or cooperative gameplay. PlayStation VR works with either the standard DualShock 4 controller or the PlayStation Move controllers.[3]
    </p>    
  </article>

  <aside id="secondary">
    <p>
      The PlayStation VR has a 5.7 inch OLED panel, with a display resolution of 1080p.[4][5] The headset also has a processor box which enables the Social Screen video output to the television, as well as process the 3D audio effect, and uses a 3.5mm headphone jack.[4][6] The headset also has nine positional LEDs on its surface for the PlayStation Camera to track 360 degree head movement.[4][7]
    </p>  
  </aside>
</main>