<hr>

<figure class="container">
  <div>
    <a href="/strands/ps1.html"><img src="/assets/images/ps1/ps1.jpg" alt="PS1 Image"></a>
  </div>
  <div>
    <a href="/strands/ps2.html"><img src="/assets/images/ps2/ps2mod.jpg" alt="PS2 Image"></a>
  </div>
  <div>
    <a href="/strands/ps3.html"><img src="/assets/images/ps3/ps3.jpg" alt="PS3 Image"></a>
  </div>
  <div>
    <a href="/strands/ps4.html"><img src="/assets/images/ps4/ps4.jpg" alt="PS4 Image"></a>
  </div>
  <div>
    <a href="/strands/psp.html"><img src="/assets/images/psp/psp.jpg" alt="PSP Image"></a>
  </div>
  <div>
    <a href="/strands/psvita.html"><img src="/assets/images/psvita/psvita.jpg" alt="PSVita Image"></a>
  </div>
  <div>
    <a href="/strands/psvr.html"><img src="/assets/images/psvr/menu_psvr.png" alt="PSVR Image"></a>
  </div>
</figure>