<footer id="footer">
  <section class="tooltip"> About 
    <span class="tooltiptext">This is a static webpage project. Information is taken from sites around the web. No copyright infringement intended</span>
  </section>

  <section class="tooltip"> Contact 
    <span class="tooltiptext">This is where the contact info resides</span>
  </section>

  <section class="tooltip"> Terms of Service 
    <span class="tooltiptext">This is where the Terms of Service info resides</span>
  </section>

  <section class="tooltip"> Privacy Policy 
    <span class="tooltiptext">This is where the Privacy Policy info resides</span>
  </section>

  <a href="https://www.youtube.com/user/PlayStation"><img src="/assets/images/youtube.png"></a>
  <a href="https://twitter.com/PlayStation?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="/assets/images/twitter.png"></a>
  <a href="https://www.facebook.com/PlayStation/"><img src="/assets/images/facebook.png"></a>
  <a href="https://en.wikipedia.org/wiki/PlayStation"><img src="/assets/images/wikipedialogo.png"></a>
</footer>