<footer id="footer">
  <section class="tooltip"> About 
    <span class="tooltiptext">This is a static webpage project. Information is taken from sites around the web. No copyright infringement intended</span>
  </section>

  <section class="tooltip"> Contact 
    <span class="tooltiptext">This can be where the contact info resides or pop up contact form</span>
  </section>

  <section class="tooltip"> Terms of Service 
    <span class="tooltiptext">This can be where a summary of Terms of Service info resides or/and can link to a full page</span>
  </section>

  <section class="tooltip"> Privacy Policy 
    <span class="tooltiptext">This can be where a summary of the Privacy Policy info resides or/and can link to a full page</span>
  </section>

  <section class="tooltip"> Copyright Notice 
    <span class="tooltiptext"> This can be where a summary of the Copyright notice resides or/and can link to a full page</span>
  </section>
  
  <a href="https://www.youtube.com/user/PlayStation"><img src="/assets/images/logos/youtube.png" alt="YouTube Logo"></a>
  <a href="https://twitter.com/PlayStation?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="/assets/images/logos/twitter.png" alt="Twitter Logo"></a>
  <a href="https://www.facebook.com/PlayStation/"><img src="/assets/images/logos/facebook.png" alt="Facebook Logo"></a>
  <a href="https://en.wikipedia.org/wiki/PlayStation"><img src="/assets/images/logos/wikipedialogo.png" alt="Wikipedia Logo"></a>
</footer>