<nav id="navigation">  
  <ul id="menu">  
    <li id="Home"><a href="/index.html">Home</a></li>  
    <li id="PlayStation1"><a href="/strands/ps1.html">PlayStation 1</a></li>  
    <li id="PlayStation2"><a href="/strands/ps2.html">PlayStation 2</a></li>  
    <li id="PlayStation3"><a href="/strands/ps3.html">Playstation 3</a></li>  
    <li id="PlayStation4"><a href="/strands/ps4.html">PlayStation 4</a></li>  
    <li id="PlayStationPortable"><a href="/strands/psp.html">PlaySation Portable</a></li>  
    <li id="PlayStationVita"><a href="/strands/psvita.html">PlayStation Vita</a></li>
    <li id="PlayStationVR"><a href="/strands/psvr.html">PlayStation VR</a></li>  
  </ul>  
</nav>

<script>
  $("#<%=id%>").addClass("current");
</script>